.dashboard{
    background-color: #0077b6;
    color: aliceblue;
    height: 100%;

}
.titleDashboard{
    font-size: 3rem;
    color: aliceblue;
}
span {
    color: aliceblue;
}
#color {
    color: white;
    
}
.sidebar-heading {
    text-decoration: underline;
    font-weight: bolder;
}